<h1>Gerenciador de Produtos</h1>

<h2>Buscar produto por ID</h2>

<input
  type="number"
  placeholder="Digite o ID"
  #campoId
>

<button
  (click)="idBusca.set(campoId.valueAsNumber); buscarProduto()">
  Buscar
</button>

@if (produtoEncontrado()) {
  <p>
    Produto encontrado:
    {{ produtoEncontrado()!.nome }}
    - R$ {{ produtoEncontrado()!.preco }}
  </p>
}

@if (mensagemBusca()) {
  <p>{{ mensagemBusca() }}</p>
}

<h2>Adicionar produto</h2>

<input
  type="text"
  placeholder="Nome do produto"
  #campoNome
>

<input
  type="number"
  placeholder="Preço"
  #campoPreco
>

<button
  (click)="
    nomeNovoProduto.set(campoNome.value);
    precoNovoProduto.set(campoPreco.valueAsNumber);
    adicionarProduto();
    campoNome.value = '';
    campoPreco.value = ''
  ">
  Adicionar
</button>

@if (mensagemCadastro()) {
  <p>{{ mensagemCadastro() }}</p>
}

<h2>Produtos cadastrados</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    @for (produto of produtos(); track produto.id) {
      <tr>
        <td>{{ produto.id }}</td>

        @if (idEdicao() === produto.id) {
          <td>
            <input
              type="text"
              [value]="nomeEdicao()"
              #campoNomeEdicao
            >
          </td>

          <td>
            <input
              type="number"
              [value]="precoEdicao()"
              #campoPrecoEdicao
            >
          </td>

          <td>
            <button
              (click)="
                nomeEdicao.set(campoNomeEdicao.value);
                precoEdicao.set(campoPrecoEdicao.valueAsNumber);
                salvarEdicao()
              ">
              Salvar
            </button>

            <button (click)="cancelarEdicao()">
              Cancelar
            </button>
          </td>

        } @else {
          <td>{{ produto.nome }}</td>
          <td>R$ {{ produto.preco }}</td>

          <td>
  <button (click)="iniciarEdicao(produto)">
    Editar
  </button>

  <button (click)="removerProduto(produto.id)">
    Remover
  </button>
</td>
        }
      </tr>
    }
  </tbody>
</table>

@if (mensagemEdicao()) {
  <p>{{ mensagemEdicao() }}</p>
}

@if (mensagemRemocao()) {
  <p>{{ mensagemRemocao() }}</p>
}